

@media only screen and (min-width: 768px){

  .grid-container-style{
  font-size: 30px;

  }
  .main{
    padding-top:50px;
  }

.container-info{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  justify-content: center;
}

.img-logo{
  float: left;
  width: 10%;
}



.grid-container-style{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  line-height: 50px;

}

.mis-vis{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  justify-content: center;

}

.valores-num{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns:  50% 50%;
  justify-content: center;
}


}




.valores{
  display: grid;
  grid-template-rows: 10% 90%;
  grid-gap: 5px;
  justify-content: center;

}

.valores .valores-num div{


  background: rgba(128, 255, 128, 0.2);
  box-shadow: rgba(128, 255, 128, 0.2);

}


.talleres{

  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;


}

.tareas{

  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;


}
