
body{
font-family: Candara, Trebuchet MS, Verdana;
font-color: "#333";
font-size: 1.3rem;
line-height: 1.3em;
margin: 0;
padding: 0;
background: white;
}

.header
{
  background: "#0B2F3A";
  color: "#FFFFFF";
  padding: 2rem 0;
}
