@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
font-family:  Candara, Trebuchet MS, Verdana;
font-size: 1.2rem;
line-height: 1.4em;
margin: 0;
padding: 0;
background-image: url(../img/fondo.jpg);
overflow-y: scroll;
overflow-x: hidden;


}

.header
{
  padding: 0.5rem 0;
  background: rgba(83, 185, 137, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  font-size: 1.5rem;

}

.container{
  width: 75%
  max-width: 850px;
  margin: 0 auto;
}

.logo-nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.contenedor {
margin: 10px auto;
display: flex;
align-items: center;
justify-content: center;

}
.ABOUT {
background-color: #5DEAA8;
border: 1px solid #99cccc;
margin-bottom: 30px;
}

.contenedor-flex {
margin: 10px auto;
display: flex;
align-items: center;
justify-content: center;
}

.mis{
  background-color: #FBA927;
  border: 1px solid #FBA927;
  margin-bottom: 30px;
}

.vis{
  background-color: #FBA927;
  border: 1px solid #FBA927;
  margin-bottom: 30px;
}



















footer{
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 1rem;
  bottom:0;
  width:100%;
  position: relative;
  /*
  position:fixed;



  bottom:0;
  clear:both;
  width:100%;
  position: absolute;
  right: 0;
 bottom: 0 !important;
 bottom: -1px;
 left: 0;

  */

}
