@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
font-family:  Candara, Trebuchet MS, Verdana;
font-size: 1.2rem;
line-height: 1.4em;
margin: 0;
padding: 0;
background-image: url(../img/fondo.png);
background-attachment: fixed;
background-position: 0px 200px;


}

.header
{
  padding: 0.5rem 0;
  background: rgba(83, 185, 137, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  font-size: 1.5rem;

}

.container{
  width: 75%
  max-width: 850px;
  margin: 0 auto;
}

.logo-nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
