<!--

*{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
}

.img-banner{
  display: none;
}

.img-info{
  widht: 100%;
}

.img-info h2{
  padding: 30px 30px 20px;
  font-size: 50px;
  line-height: 44px;
}

.img-info p{
  padding: 0px 30px 20px;
  font-size: 16px;
  line-height: 24px;
}

.img-unicorn{
  width: 100%;
}

@media only screen and (min-width: 768px){
  .img-banner{
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }
  .wrapper{
    width: 600px;
    margin: 0 auto;
  }
  .img-info h2{
    padding: 20px 0px 0px;
  }

  .img-info p{
    padding: 20px 0px 0px;
  }

  .img-unicorn{
    padding-top: 30px;
  }

}

@media only screen and (min-width: 1000px){

  .wrapper{
    width: 1000px;
  }

  .img-info {
    width: 50%;
    float: right;
  }

  .img-unicorn{
    padding-top: 0px;
    width: 50%;
    float: left;
  }

  .img-info h2{
    padding: 20px 0px 0px 30px;
  }
  .img-info p{
    padding: 20px 0px 0px 30px;
  }
  .img-banner{
    display: block;
    width: 100%;
  }

}

p {
      font-family: Arial;
    }

     h1 {
      font-family: Arial;
      color: maroon;
    }

    .title {
      font-family: Arial;
      color: teal;
    }

     .uppercase {
      text-transform: uppercase;
    }
    h1, h2 {
      font-family: Georgia;
      text-align: center;
    }
-->
