@media only screen and (min-width: 2001px){

  .menu-icon{
    display: none
  }
  .img-logo{
    width: 150px;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;


  }

  .navigation ul li {
    display: inline-block;
  }

  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;

  }


  .navigation ul li a:hover {
    background: #5CD59E;
  }

  .main {
    padding-top: 5rem;

  }

  .slider
  {
    width: 200%;
    padding-top: 100px;
    margin: auto;
    overflow: hidden;

  }
  .slider ul{
    display: flex;
    padding: 0;
    width: 200%;

    animation: change 20s infinite;
    }

    .slider li{
      width: 100%;
      list-style: none;
    }
    .slider img{
      width: 100%;
    }

    @keyframes change {
      0% {margin-left: 0;}
      20% {margin-left: 0;}

      25% {margin-left: -50%;}
      45% {margin-left: -50%;}

      50% {margin-left: -100%;}
      70% {margin-left: -100%;}

      75% {margin-left: -150%;}
      90% {margin-left: -150%;}
    }

}
